:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(black, lightgray);
  background-color: light-dark(white, black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: light-dark(dimgray, whitesmoke);
  cursor: pointer;
}
a:hover {
  color: light-dark(black, gray);
}

body {
  margin: 10px;
  display: flex;
  place-content: left;
  place-items: justify-items;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: light-dark(lightgray, dimgray);
  border: 1px solid light-dark(silver, whitesmoke);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: light-dark(gray, gray);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
